.banner {
  background-image: url(../images/image_two.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: fit-content;
  margin: 0 auto;
  width: 100%;

  box-sizing: border-box;
}

.banner__bcg {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  padding: 70px 170px;
  box-sizing: border-box;
}
.banner__title {
  color: #ffffff;
  margin-bottom: 40px;
}

.banner__separator {
  height: 0;
  border: 1px solid #ffffff;
  width: 170px;
  text-align: center;
  margin: 0 auto;
}

.banner__subtitle {
  margin: 40px 0 80px;
  color: #ffffff;
}

.banner__button {
  margin: 0 auto;
  display: block;
  width: fit-content;
  text-align: center;
  color: #ffffff;
  padding: 20px 150px;
  border: 2px solid #ffffff;
  background-color: transparent;
}
