.lorem-section {
  margin: 0;
  width: 100%;
  padding: 120px 0;
}

.lorem-section__wrapper {
  display: flex;
  border: 1px solid rgba(198, 203, 205, 1);
  width: fit-content;
  margin: 0 auto;
}

.lorem-section__text {
  margin: 0;
  padding: 54px 100px 30px 54px;
  width: fit-content;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  display: flex;

  flex-direction: column;
  justify-content: flex-start;
}

.lorem-section__heading {
  padding-bottom: 56px;
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  margin: 0;
  font-weight: 700;
}

.lorem-section__big-text {
  padding-bottom: 26px;
  margin: 0;
}

.lorem-section__small-text {
  margin: 0;
}
.lorem-section__button {
  padding: 18px 84px;
  margin-top: 84px;
  width: fit-content;
  background-color: rgba(236, 121, 121, 1);
  border: none;
  color: white;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.lorem-section__image {
  width: 470px;
  height: 500px;
  object-fit: cover;
}
